body {
    background: $body-bg;
    color: $body-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

header {
    padding: 3rem;
    text-align: center;
}

#main {
    max-width: 1100px;
    margin: 0 auto 2rem;
    padding: 3rem;

    @include d-flex;
    @include flex-wrap(wrap);
}

.intro,
#imageCard {
    text-align: center;
    margin: 1rem 0;
}

.intro {
    @include flex(0, 0, 100%);

    .btn {
        margin: 1rem 0;
    }
}

#imageCard {
    @include flex(0, 0, 100%);

    @include min-bp(lg) {
        @include flex(0, 0, 50%);
    }

    img {
        @include box-shadow(1rem);

        max-width: 100%;
    }
}

.collect-data {
    @include flex(0, 0, 100%);

    @include min-bp(lg) {
        @include flex(0, 0, 50%);
    }

    padding: 0 2rem;
    box-sizing: border-box;
}

.btn {
    color: $white;
    background: $btn-bg;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: .25rem;
    margin: 1rem 0;
    transition: .5s;

    &:hover,
    &:focus {
        background: darken($btn-bg, 10%);
        cursor: pointer;
        outline: none;
    }
}

.btn-sm {
    font-size: 1rem;
}

.btn-lg {
    font-size: 1.5rem;
}

form {
    margin: 2rem 0;

    label {
        @extend h3;

        display: block;
        margin-bottom: 1rem;
        color: $black;
    }

    textarea {
        width: calc(100% - 2rem);
        border: 3px solid lighten($body-color, 35%);
        border-radius: .5rem;
        padding: 1rem;
        font-size: 1rem;
        outline: none;
        transition: .5s;

        &:hover,
        &:focus {
            border-color: lighten($body-color, 15%);
        }
    }
}

.impression-box {
    border-top: 1px solid #ddd;

    h4 {
        margin: 1rem 0 .5rem;
    }

    p {
        color: $black;
    }
}