h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: $black;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.3rem;
    color: $black;
}

a {
    text-decoration: none;
    color: $btn-bg;
    transition: .5s;

    &:hover,
    &:focus {
        color: lighten($btn-bg, 30%);
    }
}