// Colors
$body-bg: #fff;
$body-color: #111;
$black: #000;
$white: #fff;
$grey: #393A43;
$primary: #e4bb15;
$secondary: #09d0b2;
$tertiary: #0AF1F0;
$quad: #E01FEF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

// Other
$transition-speed: .35s;
