// Colors
$body-bg: #f7f7f7;
$body-color: #73767a;
$black: #111;
$white: #fff;
$btn-bg: #37353d;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

// Other
$transition-speed: .35s;
